@import "tailwindcss";

@theme {
  --color-dark: #1a1a1f;
  --color-blue: #0a1045;
  --color-cyan: #06B6D4;
  --color-cyan-h: #22D3EE;
  --color-light: #f7f9f7;
}

body {
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: var(--font-poppins)
}

a.cta {
  background-color: var(--color-cyan-h) !important;
}
